@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #9195a0;
    color: #2c3246;
}


button {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

/* Header */

header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-section {
    display: none;
    align-self: center;
    margin-top: 4rem;
    background: #50a8ea;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.title {
    font-size: 1.5rem;
}

.search-location {
    display: flex;
    align-items: center;
}

.search-section {
    display: flex;
    align-items: center;
    background: #08090A;
    border-radius: 4em;
    margin-right: 1rem;
}

.search-input {
    width: 0px;
	font-size: 1em;
	color: #fff;
	transition: .5s;
    background: none;
    border: 0;
    outline: none;
}

.search-btn {
    display: flex;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	background: white;
	transition: .3s;
    border: 0;
}

.search-icon {
    width: 20px;
    margin: auto;
}

.search-input::placeholder {
	color: white;
	opacity: .7;
}

.search-section:hover .search-input {
    padding-left: 2em;
	padding-right: 1em;
	width: 100px;
}

.search-btn:active {
	transform: scale(.75);
}

.location-btn {
    background: white;
    border: none;
    border-radius: 50%;
	width: 3em;
	height: 3em;
    display: flex;
}

.location-icon {
    width: 20px;
    margin: auto;
}



/* Main */

.container {
    display: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

/* Current Info */

.current-weather-section {
    display: flex;
    flex-direction: column;
}

.current-info {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2rem;
}

.weather-icon {
    width: 150px;
    height: auto;
}

.location-name {
    font-size: 2rem;
}

.temperature {
    font-size: 3rem;
}

.weather-condition {
    font-size: 2rem;
}

.current-weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.value, .sunrise-time, .sunset-time {
    font-size: 1.5rem;
    font-weight: bold;
}

.sunrise, .sunset {
    width: 70px;
    height: auto;
}

.sunrise-info, .sunset-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* forecast section */

.forecast-data {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.forecast-section {
    min-width: 150px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.max-temp {
    margin-right: 1rem;
    font-size: 1.5rem;
}

@media (min-width: 768px) {

    .search-section:hover .search-input {
        width: 150px;
    }

    .current-weather-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .current-info {
        width: 30%;
    }

    .current-weather-details {
        width: 40%;
        justify-content: space-between;
    }

    .sunrise, .sunset {
        width: 100px;
        height: auto;
    }

    .forecast-data {
        overflow-x: hidden;
    }
}



